### Target Vendor/Product (support only Ralink RT3883/MT7620)
CONFIG_VENDOR=XIAOMI
CONFIG_PRODUCT=MT7620

### Target ProductID (board select, max 12 symbols)
CONFIG_FIRMWARE_PRODUCT_ID="MI-MINI"

############################################################
### Linux kernel configuration
############################################################

### Force MT7620 CPU clock to 600MHz (override Uboot settings)
CONFIG_FIRMWARE_CPU_600MHZ=y

### Enable MT7620 CPU sleep mode (downclock to 200MHz on idle)
CONFIG_FIRMWARE_CPU_SLEEP=y

### Kernel driver select for WiFi AP 5GHz
### 3.0 = MT7612E v3.0.4.0
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### Kernel driver select for WiFi AP 2.4GHz
### 2.4 = RT3092 v2.4.0.5
### 2.5 = RT3092 v2.5.0.11
### 2.7 = RT3092 v2.7.1.5
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7

### Enable IPv6 support
CONFIG_FIRMWARE_ENABLE_IPV6=y

